.usage {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.09);
  border-radius: 5px;
}

section {
    margin-bottom: 15px;
}

section:last-child {
    margin-bottom: 0;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}