<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ut-angular-formWatcher demo</title>

        <!-- TODO: Include Angular from Bower components -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

        <link rel="stylesheet" href="demo.css">
    </head>
    <body ng-app="demo">
        <div class="container">
            <h1 class="text-muted">Demo</h1>

            <div class="usage row">
                <h4>Simple usage</h4>

                <p>This is a simple usage of untemps.ut-angular-formWatcher</p>
                <pre>&lt;form name="myForm" novalidate ut-form-watcher="myForm"&gt;</pre>
                <h4>Results</h4>

                <div ng-controller="demoController as ctrl">
                    <section>
                        <form name="myForm1" novalidate ut-form-watcher="form1">

                            <fieldset>
                                <legend>Form 1</legend>
                                <input id="myInput1" name="myInput1" type="text" placeholder="Type something..."
                                       ng-model="ctrl.model1" ng-required="true">
                                <span>Is form 1 valid? {{ctrl.isForm1Valid}}</span>
                            </fieldset>

                        </form>

                    </section>

                    <section>
                        <form name="myForm2" novalidate ut-form-watcher="form2">

                            <fieldset>
                                <legend>Form 2</legend>
                                <input id="myInput2" name="myInput2" type="text" placeholder="Type something..."
                                       ng-model="ctrl.model2" ng-required="true">
                                <span>Is form 2 valid? {{ctrl.isForm2Valid}}</span>
                            </fieldset>

                        </form>

                    </section>

                    <section>
                        <form name="myForm3" novalidate ut-form-watcher="form3">

                            <fieldset>
                                <legend>Form 3</legend>
                                <input id="myInput3" name="myInput3" type="text" placeholder="Type something..."
                                       ng-model="ctrl.model3" ng-required="true">
                                <span>Is form 3 valid? {{ctrl.isForm3Valid}}</span>
                            </fieldset>

                        </form>

                    </section>

                    <span>Are all my forms valid? {{ctrl.areAllFormsValid}}</span>
                </div>
            </div>
        </div>

        <script src="../src/ut-angular-formWatcher.js"></script>
        <script src="demo.js"></script>
    </body>
</html>